body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f4f4f4;
    border-radius: 20px;
    z-index: -1;
}

body {
    margin: 0;
    padding: 10px;
    background: transparent;
}

#popup-content {
    max-width: 100%;
    min-width: 300px;
    min-height: 400px;
    font-family: Arial, sans-serif;
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    background-color: #f4f4f4;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


#results {
    margin: 0 auto;
    max-width: 90%;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
}

.key {
    font-weight: bold;
    color: #333;
}

.key, .hash-value {
    display: inline-block;
    vertical-align: top;
}

.content {
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.score-red {
    color: #D83B01;
}

.score-orange {
    color: #ffa500;
}

.score-yellow {
    color: #FDB813;
}

.score-green {
    color: #107C10;
}

.progress-container {
    width: 90%;
    background-color: #ddd;
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
}

.progress-bar {
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    color: white;
    transition: width 0.4s ease;
}

.progress-bar.score-red {
    background-color: #ff6347;
}

.progress-bar.score-orange {
    background-color: #ffa500;
}

.progress-bar.score-yellow {
    background-color: #ffd700;
}

.progress-bar.score-green {
    background-color: #8ae48a;
}

.hash-value {
    max-width: calc(100% - 60px);
    word-wrap: break-word;
    font-size: 12px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.circle-container {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-circle {
    transition: stroke-dashoffset 0.6s ease;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-text {
    font-weight: bold;
}

.collapse {
    display: none;
    overflow: hidden;
    transition: all 0.3s ease;
    margin-left: 20px;
}

.content, .collapse {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.visible {
    display: block;
}




#settings {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

senti-button {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  
