<!DOCTYPE html>
<html>
<head>
  <title>Template Creator</title>
  <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>
  <div class="container">
    <h1>Template Creator</h1>
    <div>
      <input type="text" id="templateSearch" placeholder="Search for a template">
      <button id="loadTemplateBtn">Load Template</button>
    </div>
    <div>
      <button id="defaultTemplateBtn">Default Template</button>
      <button id="insertVariableBtn">Insert Variable</button>
      <button id="insertQueryBtn">Insert Query</button>
    </div>
    <textarea id="templateContent" rows="20" cols="100"></textarea>
    <button id="saveTemplateBtn">Save Template</button>
  </div>

  <script src="template-creator.js"></script>
</body>
</html>